.main-content{
    display: flex;
}

.presentation{
    width: 70%;
    padding: 30px 20px;
    box-sizing: border-box;
    margin-left: 20px;
    background-color: #ffffff;
}

.sidebar{
    width: 400px;
    background-color: #e3e3e3;
    border: 1px solid #e3e3e3;
}

.skills, .languages, .quality, .hobby{ 
    width: 300px; 
    margin: 50px auto; 
    text-align: left; 
}

.sidebar h2, .presentation h2{
    font-family: "Lato", serif;
    color: #17abb3;
}

.sidebar, .presentation{
    font-family: "Raleway", serif;
}

.skill { 
    display: flex; 
    align-items: center; 
    margin-bottom: 10px; 
}

.skill span{ 
    flex: 1;
    font-weight: bold; 
}

.skill i{
    color: #17abb3;
}

.languages ul{
    list-style: none;
    padding: 0;
}

.languages li{
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
}

.languages span{
    font-weight: bold;
}

.quality ul, .hobby ul{
    list-style: square;
    padding: 0;
    margin: 0 18px;
}

.quality li::marker, .hobby li::marker{
    color: #17abb3;
}

.quality li, .hobby li{
    margin: 5px 0;
}

.profile-description p{
    text-indent: 5%;
}

.diplomas ul, .experiences ul{
    list-style: none;
    padding: 0;
}

.formation, .experience{
    margin: 20px 0;
    padding: 10px 0;
    padding-right: 5px;
    position: relative;
    transition: padding-left 0.3s;
}

.place{
    font-size: small;
    font-style: italic;
}

.experiences li, .diplomas li{
    display: flex;
    justify-content: space-between;
}

.type{
    font-weight: bold;
}

.period{
    color: #17abb3;
}

.formation::before, .experience::before{
    content: ""; 
    position: absolute; 
    left: 0; 
    top: 0; 
    bottom: 0; 
    width: 0;
    background-color: transparent;
    transition: background-color 0.3s, width 0.3s;
}

.formation:hover::before, .experience:hover::before{
    background-color: #17abb3;
    width: 5px;
}

.formation:hover, .experience:hover{
    background-color: #e3e3e3;
    padding-left: 15px;
}